@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  color: #fff7bc;
  background-color: #4c6808;
}
span {
  font-weight: 600;
}
.headline {
  font-size: 2.7em;
  width: 70%;
  font-weight: 300;
}
.card {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.content {
  padding: 1% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-right {
  align-items: flex-end;
}
.content-left {
  align-items: flex-start;
}
.content-center {
  align-items: center;
}
.content-center .headline {
  width: 90%;
  text-align: center;
}
.no-margin {
  margin: 0;
}
.subtitle {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 1.75em;
}
img {
    mix-blend-mode: overlay;
    width: 90%;
}
.card.picture {
    position: fixed;
    z-index: -1;
    background-color: #4c6808;
}

a:visited, a:link {
  color: white;
  font-size: 1.5em;
  font-weight: 800;
  background-color: #FDAA34;
  padding: 5px;
  margin: 10px 0 0 0;
  text-decoration: underline;
}

.text-align-right {
  text-align: right;
}

footer {
  padding: 15px;
  text-align: center;
  color:#4c6808;
  font-weight: 500;
  background-color: #CCE124;
}